<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imgModalLabel"><%= photo.caption %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="<%= photo.imageSRC %>" alt="<%= photo.caption %>">
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-6">

    <div class="card">

      <div class="card-header">
        <%= photo.caption %>
        <small>by <%= photo.createdBy.username %></small>
      </div>

      <div class="card-body">
        <a data-toggle="modal" id="pop" data-target="#imgModal" href="/photos/<%= photo.id %>">
          <img class="img-fluid" src="<%= photo.imageSRC %>" alt="<%= photo.caption %>">
        </a>

        <p class="yellowStars">
          <% while(photo.stars--) { %> &starf; <% } %>
        </p>
      </div>

    </div>

  </div>

  <div class="col-md-6">

    <% if(photo.comments.length !== 0) { %>

      <div class="card">

        <div class="card-header">
          Comments:
        </div>

        <ul id="comments" class="list-group">
          <% photo.comments.forEach((comment) => { %>
            <li class="list-group-item">
              <p><%= comment.content %></p>
              <small>by <%= comment.createdBy.username %></small>

              <% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
                <form method="POST" action="/photos/<%= photo.id %>/comments/<%= comment.id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-danger">Delete this comment</button>
                </form>
              <% } %>
            </li>

          <% }) %>
        </ul>

      </div>

    <% } %>

    <% if(locals.isAuthenticated) { %>

      <div class="card">

        <div class="card-header">
          Leave a comment:
        </div>

        <form method="POST" action="/photos/<%= photo.id %>/comments">
          <textarea class="form-control" rows="2" name="content" id="content" placeholder="Comment"></textarea>
          <button class="btn btn-primary">Leave your comment</button>
        </form>

      </div>

    <% } %>

  </div>

</div>
