<% if(!(typeof etlData.edges == 'undefined')){ console.log('we got data here...')%>
  <% etlData.edges.forEach((edge) => { %>
  <% edge = edge.node %>
  <div class="row whiteBox ">

    <div class="col-sm-6 text-center align-self-center">
      <% if(!(typeof edge == 'undefined')){%>
        <% if(edge.owner.profile_pic_url) { %>
          <img class="img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.owner.profile_pic_url:"" %>" alt="<%= edge ? edge.owner.username :"" %>">
        <% } %>
      <%}%>
    </div>

    <div class="col-sm-6 text-center align-self-center">

      <h2>Profile:<%= !(typeof edge == 'undefined') ? edge.owner.username : "username" %></h2>
      <h3>Full name:<%= !(typeof edge == 'undefined') ? (edge.owner.email || edge.owner.full_name) :"user@maildomain"%></h3>
      <h3>Commented@:<%= !(typeof edge == 'undefined') ? edge.created_at : "0000/00/00" %></h3>

    </div>

  </div>

<% }) %>
<%}%>
