<% if(!(typeof etlData.edges == 'undefined')){ console.log('we got data here...')%>
  <% etlData.edges.forEach((edge) => { %>
  <% if(edge.node)edge = edge.node %>
  <% var commentDate = new Date(parseInt(edge.created_at)*1000) %>
  <% edge.created_at = commentDate.getFullYear()+'-'+commentDate.getMonth()+'-'+commentDate.getDay() %>
  <div class="row whiteBox ">
      <div style="cursor:pointer" class="col-sm-6 text-center align-self-center" onClick=getEndpoint("http://localhost:8080/instagram/profile?","profile",<%= '"'+edge.owner.username+'"' %>,"profile") >
          <% if(!(typeof edge == 'undefined')){%>
              <% if(edge.owner.profile_pic_url) { %>
                  <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.owner.profile_pic_url:"" %>" alt="<%= edge ? edge.owner.username :"" %>">
              <% } else { %>
                  <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.owner.profile_pic_url : "" %>" alt="<%= edge ? edge.owner.username : "" %>">
              <% } %>
          <%}%>
      </div>

    <div class="col-sm-6 text-center align-self-center">

      <h3><%= !(typeof edge == 'undefined') ? edge.owner.username : "username" %></h3>
      <h4><%= !(typeof edge == 'undefined') ? edge.owner.full_name :"-"%></h4>
      <h4><%= !(typeof edge == 'undefined') ? edge.created_at : "0000/00/00" %></h4>
      </br>
      <h5><%= !(typeof edge == 'undefined') ? edge.text : ":..." %></h5>
    </div>

  </div>

<% }) %>
<%}%>
