<div class="row">
  <% etlData.forEach((edge) => { %>
    <% if (edge.node) edge = edge.node %>
    <% if(edge.display_url || edge.edge_media_to_caption){ %>
      <div class="col-md-4  align-self-center">
        <div class="card" style="height:300px; min-height:300px;font-size:12px;overflow-y: hidden;">
          <div class="card-body">
            <div style="cursor:pointer"
                 onClick=getEndpointData("/instagram/post?","post-json",<%= '"' + edge.shortcode + '"' %>,"post")>
              <img class="img-fluid" src="<%= edge.display_url %>"
                   alt="<%= edge.edge_media_to_caption ? edge.edge_media_to_caption.edges[0] : [] %>">
            </div>

            <!--<p class="likes-comments">
            <% if(edge.edge_media_preview_like){ %>
              <% if(edge.edge_media_preview_like.count) { %><%= edge.edge_media_preview_like.count+' ' %>  <% } %>
            <% }else if(edge.edge_liked_by){ %><%= edge.edge_liked_by? edge.edge_liked_by.count : '-&#45;&#45;' + ' ' %> <% } %>
          </p>-->
            <div class="likes-comments">
              <span style="cursor:pointer; color: rgb(249,5,5);" class="fa fa-heart" onClick=getEndpointData("/instagram/likes?","post-likes","<%= edge.shortcode %>","post-likes")>
                <% if(edge.edge_media_preview_like){ %>
                  <% if(edge.edge_media_preview_like.count) { %><%= edge.edge_media_preview_like.count+' ' %>
                  <% } %>
                <% }else if(edge.edge_liked_by){ %>
                  <%= edge.edge_liked_by.count+' ' %>
                <% } %>
              </span>
              <span style="cursor:pointer; color:#749f83;" class="fa fa-comment" onClick=getEndpointData("/instagram/comments?","post-comments","<%= edge.shortcode %>","post-comments")>
                <% if(edge.edge_media_to_comment){ %>
                  <%= edge.edge_media_to_comment.count+' ' %>
                <% } %>
              </span>

            </div>
          </div>
          <div class="card-header" style="">
            <% if(edge.edge_media_to_caption){ %>
            <%= edge.edge_media_to_caption.edges[0]? edge.edge_media_to_caption.edges[0].node.text:"CARD HEADER" %>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  <% }) %>

</div>
