<% if(!(typeof etlData.edges == 'undefined')){ console.log('EJS: Follow view has got data to load...')%>
  <% etlData.edges.forEach((edge) => { %>
  <% if(edge.node)edge = edge.node %>
  <div class="row whiteBox ">

    <div class="col-sm-6 text-center align-self-center" style="cursor:pointer;max-width: 150px;" onClick=getEndpointData("/instagram/profile?","profile",<%= '"'+edge.username+'"' %>,"profile")>
      <% if(!(typeof edge == 'undefined')){%>
        <% if(edge.profile_pic_url) { %>
          <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url:"" %>" alt="<%= edge ? edge.username :"" %>">
        <% }  %>
      <%}%>
      <div style="min-width: 100px; display: inline-block;" class="col-sm-6 text-center align-self-center">
          <% if(!!edge.is_verified) { %>
          <h6 class="profile-boolean-indicator"><span class="verified fa fa-check-circle" title="Verified Account"></span> Verified</h6>
        <% }%>
          <% if(!!edge.followed_by_viewer) { %>
            <span class="glyphicon glyphicon-star" title="Followed Account"></span>
          <% } %>
          <% if(!!edge.requested_by_viewer) { %>
            <span class="glyphicon glyphicon-envelope" title="Outgoing request"></span>
          <% } %>
          <% if(edge.byline) { %>
          <span class="byline" title="Followers count"></br><%=edge.byline.replace(' followers','')%></span>
          <% } %>
        </div>

    </div>

    <div class="col-sm-6 text-center align-self-center">

      <h4><%= !(typeof edge == 'undefined') ? edge.username : "username" %></h4>
      <h6><%= !(typeof edge == 'undefined') ? (edge.email || edge.full_name) :"user@maildomain"%></h6>

    </div>

  </div>

<% }) %>
<%}%>
