<% if(!(typeof etlData.edges == 'undefined')){ console.log('we got data here...')%>
  <% etlData.edges.forEach((edge) => { %>
  <% if(edge.node)edge = edge.node %>
  <div class="row whiteBox ">

    <div style="cursor:pointer" class="col-sm-6 text-center align-self-center" onClick=getEndpointData("/instagram/profile?","profile",<%= '"'+edge.username+'"' %>,"profile") >
      <% if(!(typeof edge == 'undefined')){%>
        <% if(edge.profile_pic_url) { %>
          <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url:"" %>" alt="<%= edge ? edge.username :"" %>">
        <% }  %>
      <%}%>
        <div style="min-width: 100px; display: inline-block;" class="col-sm-6 text-center align-self-center">
          <% if(!!edge.is_verified) { %>
            <span class="verified glyphicon glyphicon-ok" title="Verified Account"></span><span class="verified glyphicon glyphicon-user" alt="Verified Account"></span>
          <% }else{ %>
            <span class="not-verified glyphicon glyphicon-user" title="Not verified!"></span>
          <%}%>
          <% if(!!edge.followed_by_viewer) { %>
            <span class="glyphicon glyphicon-star" title="Followed Account"></span>
          <% } %>
          <% if(!!edge.requested_by_viewer) { %>
            <span class="glyphicon glyphicon-envelope" title="Outgoing request"></span>
          <% } %>
        </div>
    </div>

    <div class="col-sm-6 text-center align-self-center">

      <h3><%= !(typeof edge == 'undefined') ? edge.username : "username" %></h3>
      <h5><%= !(typeof edge == 'undefined') ? (edge.email || edge.full_name) :"user@maildomain"%></h5>

    </div>

  </div>

<% }) %>
<%}%>
