<% if(!(typeof etlData.edges == 'undefined')){ console.log('we got data here...')%>
  <% etlData.edges.forEach((edge) => { %>
  <% if(edge.node)edge = edge.node %>
  <div class="row whiteBox ">

    <div style="cursor:pointer" class="col-sm-6 text-center align-self-center" onClick=getEndpoint("http://localhost:8080/instagram/profile?","profile",<%= '"'+edge.username+'"' %>,"profile") >
      <% if(!(typeof edge == 'undefined')){%>
        <% if(edge.profile_pic_url) { %>
          <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url:"" %>" alt="<%= edge ? edge.username :"" %>">
        <% } else { %>
          <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url : "" %>" alt="<%= edge ? edge.username : "" %>">
        <% } %>
      <%}%>


    </div>

    <div class="col-sm-6 text-center align-self-center">

      <h3><%= !(typeof edge == 'undefined') ? edge.username : "username" %></h3>
      <h5><%= !(typeof edge == 'undefined') ? (edge.email || edge.full_name) :"user@maildomain"%></h5>

    </div>

  </div>

<% }) %>
<%}%>
