<div class="main-container">
  <div style="display:none" id="secret" username="<%=username%>"></div>
  <div id="alert-container" style="position:absolute;top:100px;right:0"></div>
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <img class="github" id="github" alt="Houman Hadian's project research tool on Github" src="/img/svg/github-corner-right.svg">
      <div class="navbar-header">
        <button class="instabtn" onclick="openNav('social-sidepanel')">&#9776;</button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand fa fa-chevron-left" href="../" style="color:#f25417;font-size:19px;"></a>
        <span id="help-btn" class="navbar-brand fa fa-info-circle" style="font-size:19px;"></span>-->
        <a class="navbar-brand" href="./">Socialytics</a>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav nav main-nav">
          <li><a href="/dashboards/stats?username=<%=username%>">Stats dashboard</a></li>
          <li><a href="/dashboards/explore?username=<%=username%>">Data explore</a></li>
          <li><a href="/dashboards/engagement?username=<%=username%>">Engagement dashboard</a>
          </li>
        </ul>

          <input type="text" class="form-control" id="search-insta-input" placeholder="search Instagram" search-query="search-query">
          <a id="searchInstaBtn" class="fa fa-search fa-lg" style="margin-left: -2%;"></a>

      </div>
    </div>
  </div>
  <div class="container grid grid-hero-sidebar">
    <div id="home-sidebar" class="sidebar widget-wrapper">
      <div  style="" class="widget-stage">
        <div style="padding:10px;width:356px;">
          <input type="text" style="width:65%;display:inline;margin:5px;" class="form-control" id="search-input" placeholder="Search for Instagram account" search-query="search-query">
          <input id="searchProfileBtn" value="Go" type="button" class="btn btn-secondary">
          <a href="#" data-toggle="popover" data-trigger="focus" title="Search instagram for profiles" data-content="Search instagram for user profiles name which searches instagram API directly and then you can drag & drop results in to user profiles inputs like set A,set B and user profile name." data-placement="bottom" class="info fa fa-info-circle"></a>
          <div style="overflow-y:scroll;max-height:20vh;margin-bottom:25px;color:black;background-color: #f1f1f2;" id="autocomplete-results"></div><br>
          <input value="Get sample filters" type="button" class="btn btn-primary" click-target="/instagram/form/data?" call-type="form-data">
          <a href="#" data-toggle="popover" data-trigger="focus" title="Gets sample filters and sets" data-content="Gets sample filter items and configured set members which are popular Portugies and Iranian brands." data-placement="top" class="info fa fa-info-circle"></a>
          <br ><br >

          <div style="width:50%;float:left;">
            <h6 style="margin-left:10px;">Store browsings</h6>
            <label class="switch">
              <input id="storeBrowsingBtn" type="checkbox">
              <span class="slider round"></span>
            </label>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Record to database as you browse" data-content="With this option turned on all the data from Instagram will be recorded to database(only public data in compliance to GDPR regulations)." data-placement="top" class="info fa fa-info-circle"></a><br><br>
          </div>
          <div id="setToggleDiv" style="width:50%;" class="hidden">
            <h6 style="margin-left:10px;">Set toggle</h6>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Post recording set toggle" data-content="This switch toggles between set A and set B for recording data(only for posts, all other data are unified)." data-placement="top" class="info fa fa-info-circle"></a>
          </div>

          <div style="width:50%;">
            <h6 style="margin-left:10px;">All posts</h6>
            <label class="switch">
              <input id="allPostsBtn" type="checkbox">
              <span class="slider round"></span>
            </label>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get all posts" data-content="Switch to turn on|off getting all posts for each profile of sets." data-placement="top" class="info fa fa-info-circle"></a>
          </div>

          <div id="commentsDiv" style="width:50%;float:left;" class="hidden">
            <h6 style="margin-left:10px;">Comments</h6>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get all comments" data-content="Switch to turn on|off getting all comments by each posts of each profile in set." data-placement="top" class="info fa fa-info-circle"></a>
          </div>

          <div id="locationDiv" style="width:50%;" class="hidden">
            <h6 style="margin-left:10px;">Location</h6>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get all locations" data-content="Geo codes each posts of each profile of sets via OSM nominatim API." data-placement="top" class="info fa fa-info-circle"></a><br><br>
          </div>
          <br>
          <div style="margin-left:15px;" class="form-group tabs">
            <ul style="max-width:20vw;height:30px;" class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#seta-tab" style="display:inline;">Set A</a>
                <span style="display:inline;">
              <a href="#" data-toggle="popover" data-trigger="focus" title="Set A(first set) of comparative analytics" data-content="comparative analytics are implemented for two sets of data, varying inside(set A and set B). This tab represents set A members input." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#setb-tab" style="display:inline;">Set B</a>
                <span style="display:inline;">
               <a href="#" data-toggle="popover" data-trigger="focus" title="Set B(second set) of comparative analytics" data-content="Comparative analytics are implemented for two sets of data, varying inside(set A and set B). This tab represents set B members input." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
              </li>
            </ul>
            <div style="max-width:20vw" class="tab-content">
              <div style="max-width:26vw;margin-left:-7%;" class="tab-pane container widget-stage" id="seta-tab">
                <a style="display:inline;float:right;margin-right: 53%;margin-top: 6%;" href="#" data-toggle="popover" data-trigger="focus" title="Set A(first set) of comparative analytics" data-content="Comparative analytics are implemented for two sets of data, varying inside(set A and set B). This part represents set A members input." data-placement="top" class="info fa fa-info-circle" ></a>
                <textarea style="padding:5px; margin:5px;display: inline" id="seta" class="seta" ondrop="drop(event)" ondragover="allowDrop(event)"></textarea>
                <input id="resetSeta" value="Reset set" type="button" class="btn btn-secondary reset-btn">
                <a href="#" data-toggle="popover" data-trigger="focus" title="Reset sets" data-content="Resets the filters only to configured predefined values(via configuration files)." data-placement="top" class="info fa fa-info-circle" style="display: inline;float: right;margin-right: 78%;margin-top: -4%;"></a>
              </div>

              <div style="max-width:26vw;margin-left:-7%;" class="tab-pane container widget-stage" id="setb-tab">
                <a style="display:inline;float:right;margin-right: 53%;margin-top: 6%;" href="#" data-toggle="popover" data-trigger="focus" title="Set B(second set) of comparative analytics" data-content="Comparative analytics are implemented for two sets of data, varying inside(set A and set B). This tab represents set B members input."  data-placement="top" class="info fa fa-info-circle" ></a>
                <textarea style="padding:5px; margin:5px;display: inline" id="setb" class="setb" ondrop="drop(event)" ondragover="allowDrop(event)"></textarea>
                <input id="resetSetb" value="Reset set" type="button" class="btn btn-secondary reset-btn">
                <a href="#" data-toggle="popover" data-trigger="focus" title="Reset sets" data-content="Resets the filters only to configured predefined values(via configuration files)." data-placement="top" class="info fa fa-info-circle" style="display: inline;float: right;margin-right: 78%;margin-top: -4%;"></a>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <input  style="width:40%; display:inline;margin:5px;padding:10px" placeholder="Count limit" type="number" class="form-control" id="count-input" count=0>
          <span><a href="#" data-toggle="popover" data-trigger="focus" title="Returned records upper limit" data-content="For Instagram ETL and browsing operations which do not present -ALL- on their title, limit the count of returned records by setting this parameter." data-placement="top" class="info fa fa-info-circle"></a></span><br>
          <input  style="width:40%; display:inline;margin:5px;padding:10px;" placeholder="Set limit"  type="number" class="form-control" id="set-limit-input" count=0>
          <span><a href="#" data-toggle="popover" data-trigger="focus" title="Set members upper limit" data-content="Maximum number of set members get in to account for full data extraction, as a dynamic parameter." data-placement="top" class="info fa fa-info-circle"></a></span><br>
          <input style="margin-bottom:5px;width:40%;margin-left:2%;" value="Get sets data" type="button" class="btn btn-primary" id="getSetDataBtn">
          <a href="#" data-toggle="popover" data-trigger="focus" title="Gets set A and set B data in full" data-content="Gets set A and set B members data, by each posts and each media and stores them all in database." data-placement="top" class="info fa fa-info-circle" style="margin-left:-6px;"></a><br><br>
          <div id="countera" class="stats-totals"></div><br>
          <div id="counterb" class="stats-totals"></div><br>

        </div><br>
        <div style=" text-align:center" class="footer">
          <p class="small text-muted">Built with &#9829; for <a target="_blank" href="https://houmanhadian.github.io/" style="color:#1995ad;">Houman Hadian's doctoral project @ UAlg</a></p>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="widget-wrapper">

        <div class="widget-stage">
          <div class="row whiteBox-profile ">
            <div id="self-profile-pic" class="col-sm-6 profile-image">

            </div>
            <div class="col-sm-6 profile-titles">

              <div id="self-username"></div>
              <div id="self-bio"></div>

            </div>
            <div style="margin-left:30%;">

              <button id="sugg-post-btn" style="height: 33px;min-width: 121px;" class="btn btn-primary etl-btn" type="button"  value="Get suggested posts" click-target="/instagram/suggested/posts?" call-type="sugg-posts">Expolre</button>
              <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets suggested posts related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a><br >
              <button id="sugg-people-btn" style="height: 33px;min-width: 121px;" class="btn btn-primary etl-btn" type="button"  value="Get suggested people" click-target="/instagram/suggested/people?"  call-type="sugg-people">People</button>
              <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets suggested people related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a><br >
              <button id="recent-feed-btn" style="height: 33px;min-width: 121px;" class="btn btn-primary etl-btn" type="button"  value="Get feed" click-target="/instagram/feed?" call-type="feed-posts">Feed</button>
              <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets feed related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a><br >
              <button id="all-feed-btn" style="height: 33px;min-width: 121px;" class="btn btn-primary etl-btn" type="button"  value="Get all feed" click-target="/instagram/allfeed?" call-type="all-feed-posts">All feed</button>
              <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets all feeds related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a>

            </div>

            <div style="display:inline-block;margin-left:19%;" class="col-sm-6 text-center align-self-center profile-counters">
              <div style="background-color:#2f4554"  title="Posts count" class="byline-counter" onClick=getEndpointData("/instagram/posts?","recent-posts","<%=username%>","posts")>

                  <span class="byline"><span id="self-posts-count" class="fa fa-instagram"></span></span>

              </div>
              <div style="background-color:#bda29a" title="Followers count" class="byline-counter" onClick=getEndpointData("/instagram/followers?","user-followers","<%=username%>","followers")>

                  <span class="byline"><span id="self-followers-count" class="fa fa-users"></span></span>

              </div>
              <div style="background-color:#ca8622" title="Followings count" class="byline-counter" onClick=getEndpointData("/instagram/following?","user-following","<%=username%>","following")>

                  <span class="byline"><span id="self-following-count" class="fa fa-user"></span></span>

              </div>

              <div style="background-color:#91c7ae" title="Saved count" class="byline-counter">

                  <span class="byline"><span id="self-saved-count" class="fa fa-bookmark-o"></span></span>

              </div>


            </div>
          </div>
        </div>
      <!--  <div class="widget-notes">
          Notes about this chart
        </div>-->
      </div>
      <br><br>
      <div style="" class="form-group tabs">
        <ul style="max-width:45vw;height:30px;" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile-tab" style="display:inline;">Profile</a>
            <span style="display:inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram profile ops" data-content="ETL and/or API browsing operations for desired user profile." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#post-tab" style="display:inline;">Post</a>
            <span style="display:inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram posts ops" data-content="ETL and/or API browsing operations for desired Instagram profile's posts." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#location-tab" style="display:inline;">Location</a>
            <span style="display:inline;">
              <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram location ops" data-content="ETL and/or API browsing operations for desired Instagram location. Returns posts related to location input by user." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#hashtag-tab" style="display:inline;">Hashtag</a>
            <span style="display:inline;">
              <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram hashtag ops" data-content="ETL and/or API browsing operations for desired Instagram hashtag. Returns posts related to  hashtag input by user." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>

        </ul>
        <div style="max-width:45vw" class="tab-content">
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="profile-tab">
            <br>
            <input type="text" ondrop="drop(event)" ondragover="allowDrop(event)" placeholder="Profile name" class="form-control" id="username-input" username="username"style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram profile name" data-content="Input desired Instagram profile name for ETL or browsing operations. You can search for Instagram profile names via search control on top left of home page." data-placement="top" class="info fa fa-info-circle"></a><br>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user profile" click-target="/instagram/profile?" call-type="profile">User profile</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets user profile" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user posts" click-target="/instagram/posts?" call-type="recent-posts">Recent posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets profile recent posts" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get all posts" click-target="/instagram/allposts?" call-type="all-posts">All posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets profile all posts" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user followings" click-target="/instagram/following?" call-type="user-following">Followings</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets user follwings number" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user followers" click-target="/instagram/followers?" call-type="user-followers">Followers</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets user followers number" data-placement="top" class="info fa fa-info-circle"></a>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="post-tab">
            <br>
            <input type="text" placeholder="Short code" class="form-control" id="shortcode-input" short-code="short-code"style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Short code" data-content="Post short code" data-placement="top" class="info fa fa-info-circle"></a><br>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post media" click-target="/instagram/post?" call-type="post-json">Media</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets post media" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post likes" click-target="/instagram/likes?" call-type="post-likes">Likes</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets post likes" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post comments" click-target="/instagram/comments?" call-type="post-comments">Comments</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets post comments" data-placement="top" class="info fa fa-info-circle"></a>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="location-tab">
            <br>
            <input type="text" placeholder="Location..." class="form-control" id="location-input" location="location" style="display: inline;">
            <button style="display:inline;margin-top:-2px;" class="btn btn-primary etl-btn" type="button"  value="Get posts by location" click-target="/instagram/location?" call-type="location-posts">Location posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Location" data-content="Get posts by location" data-placement="top" class="info fa fa-info-circle"></a>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="hashtag-tab">
            <br>
            <input style="display:inline" placeholder="Hashtag..." type="text" class="form-control" id="tag-input" tag="tag">
            <button style="display:inline;margin-top:-2px;" class="btn btn-primary etl-btn" type="button"  value="Get posts by tag" click-target="/instagram/tag?" call-type="tag-posts">Tag posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Tag" data-content="Get posts by tag" data-placement="top" class="info fa fa-info-circle"></a><br>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</div>
<!--<script>
  OverlayScrollbars(document.querySelectorAll('body'), {
  className : "os-theme-dark",
});
</script>-->
