<% if(!(typeof etlData.edges == 'undefined')){ console.log('we got data here...')%>
  <% etlData.edges.forEach((edge) => { %>
  <% if(edge.node){if(edge.node.user){edge = edge.node.user}else{edge = edge.node}} %>
  <div class="row whiteBox ">

    <div class="col-sm-6 text-center align-self-center" style="max-width: 150px;" onClick=getEndpoint("http://localhost:8080/instagram/profile?","profile",<%= '"'+edge.username+'"' %>,"profile")>
      <% if(!(typeof edge == 'undefined')){%>
        <% if(edge.profile_pic_url) { %>
          <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url:"" %>" alt="<%= edge ? edge.username :"" %>">
        <% } else { %>
          <img class="usr-img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url : "" %>" alt="<%= edge ? edge.username : "" %>">
        <% } %>
      <%}%>


    </div>

    <div class="col-sm-6 text-center align-self-center">

      <h4><%= !(typeof edge == 'undefined') ? edge.username : "username" %></h4>
      <h6><%= !(typeof edge == 'undefined') ? (edge.email || edge.full_name) :"user@maildomain"%></h6>

    </div>

  </div>

<% }) %>
<%}%>
