<div class="row">
  <% etlData.user.edge_owner_to_timeline_media.edges.forEach((edge) => { %>
    <% edge = edge.node %>
    <div class="col-md-4  align-self-center">

      <div class="card" style="max-height:300px; min-height:300px; overflow-y: hidden">
        <div class="card-body">
          <div style="cursor:pointer" onClick=getEndpoint("/instagram/post?","post-json",<%= '"'+edge.shortcode+'"' %>,"post")>
            <img class="img-fluid" src="<%= edge.thumbnail_src %>" alt="<%= edge.edge_media_to_caption? edge.edge_media_to_caption.edges[0]:[] %>">
          </div>
          <div class="likes-comments">
              <span style="cursor:pointer; color: rgb(249,5,5);" onClick=getEndpoint("/instagram/likes?","post-likes","<%= edge.shortcode %>","post-likes")>
                <% if(edge.edge_media_preview_like){ %>
                  <% if(edge.edge_media_preview_like.count) { %><%= edge.edge_media_preview_like.count+' ' %> &hearts;
                  <% } %>

                <% }else{ %>
                  <%= edge.edge_liked_by.count+' ' %> &hearts;
                <% } %>
              </span>
              <span style="cursor:pointer; color: transparent;  text-shadow: 0 0 0 rgb(42, 170, 82);" onClick=getEndpoint("/instagram/comments?","post-comments","<%= edge.shortcode %>","post-comments")>
                <% if(edge.edge_media_to_comment){ %>
                  <%= edge.edge_media_to_comment.count+' ' %> &#x1F5E8;
                <% } %>
              </span>

          </div>
          <% if (edge.owner){%>
            <% if(edge.owner.id==userid) { %>
            <% } %>
          <%}%>
        </div>
        <div class="card-header" style="font-size:12px">
          <% if(edge.edge_media_to_caption){ %>
            <%=edge.edge_media_to_caption.edges[0]? edge.edge_media_to_caption.edges[0].node.text:"CARD WITH NO CAPTION----------------------------------------------------------------------------------------------" %>
          <%}else {%>
            <%="CARD HEADER"%>
          <%}%>
        </div>


      </div>
    </div>

  <% }) %>

</div>
