<!-- Modal -->
<%var mediaSrc  = etlData.display_url%>
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img id="media-view" class="img-fluid" src="<%=mediaSrc%>" alt="<%= etlData.edge_media_to_caption.edges[0] ? etlData.edge_media_to_caption.edges[0].node.text : etlData.id %>">
      </div>
      <div class="modal-header">

        <h5 class="modal-title" id="imgModalLabel"><%= etlData.edge_media_to_caption.edges[0] ? etlData.edge_media_to_caption.edges[0].node.text : etlData.id %></h5>

      </div>

    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-6">

    <div class="card">
      <div class="card-body">
        <a style="cursor:pointer" data-toggle="modal" id="pop" data-target="#imgModal" href="/etlDatas/<%= etlData.id %>">
          <img id="media-preview" class="img-fluid" src="<%=mediaSrc %>" alt="<%= etlData.edge_media_to_caption.edges[0] ? etlData.edge_media_to_caption.edges[0].node.text : etlData.id %>">
        </a>
        <div class="likes-comments">
                <span style="cursor:pointer; color: rgb(249,5,5);" class="fa fa-heart" onClick=getEndpointData("/instagram/likes?","post-likes","<%= etlData.shortcode %>","post-likes")>
                <%if(etlData.edge_media_preview_like){%>
                  <% if(etlData.edge_media_preview_like.count) { %><%=etlData.edge_media_preview_like.count+' '%> <% } %>
                <%}else if(etlData.edge_liked_by){ %><%=etlData.edge_liked_by.count+' '%>  <%}%>
              </span>
          <span style="color:#749f83;" class="fa fa-comment">
            <%if(etlData.edge_media_to_comment){%>
            <%=etlData.edge_media_to_comment.count+' '%>
            <%}else if(etlData.edge_media_preview_comment){ %>
            <%=etlData.edge_media_preview_comment.edges.length+' '%>
            <%} %>
          </span>

        </div>
      </div>
      <div class="card-header">
        <!--<div style="cursor:pointer;padding:3px" onClick=getEndpointData("/instagram/profile?","profile","<%= etlData.owner.username %>","profile")></br><span class="glyphicon glyphicon-user"> <%= etlData.owner.username %></div>-->
        <div style="cursor:pointer;padding:3px" onClick=getEndpointData("/instagram/profile?","profile","<%= etlData.owner.username %>","profile")></br>
          <img class="usr-img-thumbnail" src="<%= !(typeof etlData == 'undefined') ? etlData.profile_pic_url : "" %>" alt="<%= etlData ? etlData.username : "" %>"></div>
        <%= etlData.edge_media_to_caption.edges[0] ? etlData.edge_media_to_caption.edges[0].node.text : etlData.id %>
      </div>



    </div>

  </div>

  <div class="col-md-6">
    <% if(etlData.edge_media_preview_comment) { %>
      <% if(etlData.edge_media_preview_comment.edges.length !== 0) { %>

      <div class="card">
        <div>
          <h3 style="">Comments:</h3> <h6 style="text-decoration:underline;cursor: pointer;color:blue" class="card-header" onClick=getEndpointData("/instagram/comments?","post-comments",'<%= etlData.shortcode%>',"post-comments")> View all comments </h6>
        </div>


        <ul id="comments" class="list-group">
          <% etlData.edge_media_preview_comment.edges.forEach((comment) => { %>
            <% comment = comment.node %>
            <li class="list-group-item" style="text-align:left;">
              <small style="cursor:pointer;padding:3px;font-size:13px;font-weight:600;" onClick=getEndpointData("/instagram/profile?","profile","<%= comment.owner.username %>","profile")><%= comment.owner.username %></small>
              <p><%= comment.text %></p>

              <% if(locals.isAuthenticated && (comment.owner.id == username)) { %>
                <form method="POST" action="/etlDatas/<%= etlData.id %>/comments/<%= comment.id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-danger">Delete this comment</button>
                </form>
              <% } %>
            </li>

          <% }) %>
        </ul>

      </div>

    <% } %>
    <%}%>
    <% if(locals.isAuthenticated) { %>

      <div class="card">

        <div class="card-header">
          Leave a comment:
        </div>

        <form method="POST" action="/etlDatas/<%= etlData.id %>/comments">
          <textarea class="form-control" rows="2" name="content" id="content" placeholder="Comment"></textarea>
          <button class="btn btn-primary">Leave your comment</button>
        </form>

      </div>

    <% } %>

  </div>

</div>
