<div class="row whiteBox ">

  <div class="col-sm-6 text-center align-self-center">
    <% if(!(typeof etlData == 'undefined')){%>
    <%var likes=0,comments=0,followers=1, posts = 0,engagement = 0, engagementData = []  %>
      <% if(etlData.edge_followed_by)followers = etlData.edge_followed_by.count? parseInt(etlData.edge_followed_by.count):1%>
      <% if(etlData.profile_pic_url) { %>
        <img class="usr-img-thumbnail" src="<%= !(typeof etlData == 'undefined') ? etlData.profile_pic_url:"" %>" alt="<%= etlData ? etlData.username :"" %>">
      <% } else { %>
        <img class="usr-img-thumbnail" src="<%= !(typeof etlData == 'undefined') ? etlData.profile_pic_url : "" %>" alt="<%= etlData ? etlData.username : "" %>">
      <% } %>
    <%}%>
  </div>
  <div class="col-sm-6 text-center align-self-center">

    <h4><%= !(typeof etlData == 'undefined') ? etlData.username : "username" %></h4>
    <h6><%= !(typeof etlData == 'undefined') ? (etlData.email || etlData.full_name) :"user@maildomain"%></h6>

   <!-- <form method="POST" action="/profile">
      <input type="hidden" name="_method" value="DELETE">
      <button type="button" class="btn btn-danger">Delete Account</button>
    </form>-->

  </div>
  <div id="sparkline" style="width:100%"></div>
</div>

<div class="row">
  <% if(!(typeof etlData.edge_owner_to_timeline_media.edges == 'undefined')){ console.log('we got data here...')%>
    <% etlData.edge_owner_to_timeline_media.edges.forEach((edge) => { %>
    <% posts++  %>
    <% if(edge.node)edge = edge.node %>
    <% if(edge.edge_liked_by) {likes = edge.edge_liked_by.count? parseInt(edge.edge_liked_by.count): 0} %>
    <% if(edge.edge_media_to_comment) {likes = edge.edge_media_to_comment.count? parseInt(edge.edge_media_to_comment.count): 0} %>
    <% engagement = ((likes + comments) / followers) * 100;%>
    <%engagementData.push(engagement);%>
    <% if(edge.owner.id === etlData.id) { %>

      <div class="col-md-4  align-self-center">
        <div class="card">
          <div class="card-body">
            <div style="cursor:pointer" onClick=getEndpoint("http://localhost:8080/instagram/post?","post-json","<%=edge.shortcode%>","post")>
              <img class="img-fluid" src="<%= edge.thumbnail_src %>" alt="<%= edge.edge_media_to_caption? edge.edge_media_to_caption.edges[0]:[] %>">
            </div>

            <div class="likes-comments">
              <span style="cursor:pointer; color: rgb(249,5,5);" onClick=getEndpoint("http://localhost:8080/instagram/likes?","post-likes","<%= edge.shortcode %>","post-likes")>
                <%if(edge.edge_media_preview_like){%>
                  <% if(edge.edge_media_preview_like.count) { %><%=edge.edge_media_preview_like.count+' '%> &hearts; <% } %>
                <%}else{ %><%=edge.edge_liked_by.count+' '%> &hearts; <%}%>
              </span>
              <span style="cursor:pointer; color: transparent;  text-shadow: 0 0 0 rgb(42, 170, 82);" onClick=getEndpoint("http://localhost:8080/instagram/comments?","post-comments","<%= edge.shortcode %>","post-comments")>
                <%if(edge.edge_media_to_comment){%>
                <%=edge.edge_media_to_comment.count+' '%> &#x1F5E8;
                <%} %>
              </span>

            </div>

            <% if(edge.owner.id === etlData.id) { %>

              <div class="row">

                <div class="col-6 align-self-center">
                  <!--<a href="/edges/<%= edge.id %>/edit" class="btn btn-primary">Edit</a>-->
                </div>

                <!-- <div class="col-6 align-self-center">
                  <form method="POST" action="/edges/<%= edge.id %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>-->

              </div>

            <% } %>

          </div>
          <div class="card-header" style="max-height:100px; overflow-y: hidden;font-size:12px">
            <%= edge.edge_media_to_caption.edges[0] ? edge.edge_media_to_caption.edges[0].node.text : "" %>
          </div>


        </div>
      </div>

    <% } %>

  <% }) %>
  <%}%>

</div>
<div id="sparkline-data" style="display:none" sparkline-data="<%=engagementData.toString()%>"></div>
