<div class="row whiteBox ">

  <div class="col-sm-6 text-center align-self-center">
    <% if(!(typeof etlData == 'undefined')){%>
      <% if(etlData.profile_pic_url) { %>
        <img class="img-thumbnail" src="<%= !(typeof etlData == 'undefined') ? etlData.profile_pic_url:"" %>" alt="<%= etlData ? etlData.username :"" %>">
      <% } else { %>
        <img class="img-thumbnail" src="<%= !(typeof etlData == 'undefined') ? etlData.profile_pic_url : "" %>" alt="<%= etlData ? etlData.username : "" %>">
      <% } %>
    <%}%>


  </div>

  <div class="col-sm-6 text-center align-self-center">

    <h1><%= !(typeof etlData == 'undefined') ? etlData.username : "username" %></h1>
    <h4><%= !(typeof etlData == 'undefined') ? (etlData.email || etlData.full_name) :"user@maildomain"%></h4>

    <form method="POST" action="/profile">
      <input type="hidden" name="_method" value="DELETE">
      <button type="button" class="btn btn-danger">Delete Account</button>
    </form>

  </div>

</div>

<div class="row">
  <% if(!(typeof etlData.edge_owner_to_timeline_media.edges == 'undefined')){ console.log('we got data here...')%>
    <% etlData.edge_owner_to_timeline_media.edges.forEach((edge) => { %>
    <% edge = edge.node %>
    <% if(edge.owner.id === etlData.id) { %>

      <div class="col-md-4  align-self-center">
        <div class="card">

          <div class="card-header">
            <%= edge.edge_media_to_caption.edges[0] ? edge.edge_media_to_caption.edges[0].node.text : "" %>
          </div>

          <div class="card-body">
            <a href="/edges/<%= edge.id %>">
              <img class="img-fluid" src="<%= edge.thumbnail_src %>" alt="<%= edge.edge_media_to_caption.edges[0] ? edge.edge_media_to_caption.edges[0].node.text : "" %>">
            </a>

            <p class="yellowStars">
              <% while(edge.edge_liked_by--) { %> &hearts; <% } %>
            </p>

            <% if(edge.owner.id === etlData.id) { %>

              <div class="row">

                <div class="col-6 align-self-center">
                  <a href="/edges/<%= edge.id %>/edit" class="btn btn-primary">Edit</a>
                </div>

                <div class="col-6 align-self-center">
                  <form method="POST" action="/edges/<%= edge.id %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>

              </div>

            <% } %>

          </div>
        </div>
      </div>

    <% } %>

  <% }) %>
  <%}%>

</div>
