<div class="row whiteBox-profile ">
  <div class="col-sm-6 profile-image">
    <% if(!(typeof etlData == 'undefined')){ %>
      <% var likes = 0, comments = 0, followers = 1, posts = 0, engagement = 0, engagementData = [], likesData = [],
        commentsData = [] %>
      <% if (etlData.edge_followed_by) followers = etlData.edge_followed_by.count ? parseInt(etlData.edge_followed_by.count) : 1 %>
      <% if(etlData.profile_pic_url) { %>
        <img class="usr-img-thumbnail" src="<%= !(typeof etlData == 'undefined') ? etlData.profile_pic_url : "" %>"
             alt="<%= etlData ? etlData.username : "" %>">
      <% } %>
    <% } %>
  </div>
  <div class="col-sm-6 profile-titles">

    <h4><%= !(typeof etlData == 'undefined') ? etlData.username : "username" %></h4>
    <h6><%= !(typeof etlData == 'undefined') ? (etlData.email || etlData.full_name) : "user@maildomain" %></h6>
    <!-- <form method="POST" action="/profile">
       <input type="hidden" name="_method" value="DELETE">
       <button type="button" class="btn btn-danger">Delete Account</button>
     </form>-->
  </div>
  <div class="col-sm-6 profile-trends" style="">
    <span class="trend-badge" title="Sentiments"><span class="fa fa-smile-o" style="color:#61a0a8;text-align:right;font-size:1em;display:inline-block"></span></span>
    <div id="sparkline-sentiments" style="width:51%;display:inline-block;text-align:right"></div><br>
    <span class="trend-badge" title="Engagement"><span class="fa fa-handshake-o" style="text-align:right;color:#ffaa80;font-size:1em;display:inline-block"></span></span>
    <div id="sparkline" style="width:51%;display:inline-block;text-align:right"></div><br>
    <span class="trend-badge" title="Likes"><span class="fa fa-heart-o" style="text-align:right;color:#c23531;font-size:1em;display:inline-block"></span></span>
    <div id="sparkline-likes" style="width:51%;display:inline-block;text-align:right"></div><br>
    <span class="trend-badge" title="Comments"><span class="fa fa-comments-o" style="color:#749f83;text-align:right;font-size:1em;display:inline-block"></span></span>
    <div id="sparkline-comments" style="width:51%;display:inline-block;text-align:right"></div>
  </div>
  <div class="col-sm-6 profile-boolean">
    <div style="min-width: 100%; display: inline-block;font-size: 1em;" class="col-sm-6">
      <% if(!!etlData.is_private) { %>
        <h6 class="profile-boolean-indicator"><span class="private-account glyphicon glyphicon-lock"
                                                    title="Private Account"></span>Private</h6>
      <% } %>
      <% if(!!etlData.is_verified) { %>
        <h6 class="profile-boolean-indicator"><span class="verified glyphicon glyphicon-ok"
                                                    title="Verified Account"></span><span
            class="verified glyphicon glyphicon-user" alt="Verified Account"></span>Verified</h6>
      <% }else{ %>
        <h6 class="profile-boolean-indicator"><span class="not-verified glyphicon glyphicon-user"
                                                    title="Not verified!"></span> Not verified</h6>
      <% } %>
      <% if(!!etlData.followed_by_viewer) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-star" title="Followed account"></span> Followed
          by you</h6>
      <% } %>
      <% if(!!etlData.follows_viewer) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-heart"
                                                    title="Followed by account"></span> Follows you</h6>
      <% } %>
      <% if(!!etlData.has_blocked_viewer) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-eye-close"
                                                    title="Has blocked viewer"></span> Blocked you</h6>
      <% } %>
      <% if(!!etlData.blocked_by_viewer) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-alert" title="Has blocked viewer"></span> Blocked
          by you</h6>
      <% } %>
      <% if(!!etlData.country_block) { %>
        <h6 class="profile-boolean-indicator"><span style="color:red" class="glyphicon glyphicon-globe"
                                                    title="Countery block"></span> Blocked country</h6>
      <% } %>
      <% if(!!etlData.has_channel) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-expand" title="Has channel"></span> Has
          channel</h6>
      <% } %>
      <% if(!!etlData.requested_by_viewer) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-envelope"
                                                    title="Requested by viewer"></span> Requested by you</h6>
      <% } %>
      <% if(!!etlData.has_requested_viewer) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-download-alt"
                                                    title="Requested viewer"></span> Requested you</h6>
      <% } %>
      <% if(!!etlData.is_business_account) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-bold" title="Business account"></span>usiness
          account</h6>
      <% } %>
      <% if(!!etlData.is_joined_recently) { %>
        <h6 class="profile-boolean-indicator"><span class="glyphicon glyphicon-time" title="Joined recently"></span> Recently
          joined</h6>
      <% } %>
    </div>
  </div>

  <div style="display:inline-block" class="col-sm-6 text-center align-self-center profile-counters">
    <div style="background-color:#2f4554" class="byline-counter">
      <% if(etlData.edge_owner_to_timeline_media) { %>
        <span class="byline" title="Posts count"
              onClick=getEndpointData("/instagram/posts?","recent-posts","<%= etlData.username %>","posts")><%= etlData.edge_owner_to_timeline_media.count %><br ><span class="fa fa-instagram"></span></span>
      <% } %>
    </div>
    <div style="background-color:#bda29a" class="byline-counter">
      <% if(etlData.edge_followed_by) { %>
        <span class="byline" title="Followers count"
            onClick=getEndpointData("/instagram/followers?","user-followers","<%= etlData.username %>","followers")><%= etlData.edge_followed_by.count %><br ><span class="fa fa-users"></span></span>
      <% } %>
    </div>
    <div style="background-color:#ca8622" class="byline-counter">
      <% if(etlData.edge_follow) { %>
        <span class="byline" title="Followings count"
            onClick=getEndpointData("/instagram/following?","user-following","<%= etlData.username %>","following")><%= etlData.edge_follow.count %><br ><span class="fa fa-user"></span></span>
      <% } %>
    </div>
    <div style="background-color:#61a0a8" class="byline-counter">
      <% if(etlData.edge_felix_video_timeline) { %>
        <span class="byline" title="Felix video count"><%= etlData.edge_felix_video_timeline.count %><br ><span class="fa fa-video-camera"></span></span>
      <% } %>
    </div>
    <div style="background-color:#91c7ae" class="byline-counter">
      <% if(etlData.edge_saved_media) { %>
      <span class="byline" title="Saved count"><%= etlData.edge_saved_media.count %><br ><span class="fa fa-bookmark-o"></span></span>
      <% } %>
    </div>
    <div style="background-color:#d48265" class="byline-counter">
      <% if(etlData.edge_mutual_followed_by) { %>
      <span class="byline" title="Mutuals count"><%= etlData.edge_mutual_followed_by.count %><br ><span class="fa fa-group"></span>
      <% } %>
    </div>
    <div style="background-color:#c78f8f" class="byline-counter">
      <% if(etlData.edge_media_collections) { %>
      <span class="byline" title="Collections count"><%= etlData.edge_media_collections.count %><br ><span class="fa fa-photo"></span>
      <% } %>
    </div>
  </div>
</div>

<div class="row">
  <% if(!(typeof etlData.edge_owner_to_timeline_media.edges == 'undefined')){ console.log('we got data here...') %>
  <% etlData.edge_owner_to_timeline_media.edges.forEach((edge) => { %>
    <% posts++ %>
    <% if (edge.node) edge = edge.node %>
    <% if (edge.edge_liked_by) {
      likes = edge.edge_liked_by.count ? parseInt(edge.edge_liked_by.count) : 0
    } %>
    <% if (edge.edge_media_to_comment) {
      comments = edge.edge_media_to_comment.count ? parseInt(edge.edge_media_to_comment.count) : 0
    } %>
    <% engagement = ((likes + comments) / followers) * 100; %>
    <% engagementData.push(engagement); %>
    <% likesData.push(likes); %>
    <% commentsData.push(comments); %>
    <% if(edge.owner.id === etlData.id) { %>

    <div class="col-md-4  align-self-center">
      <div class="card">
        <div class="card-body">
          <div style="cursor:pointer"
               onClick=getEndpointData("/instagram/post?","post-json","<%= edge.shortcode %>","post")>
            <img class="img-fluid" src="<%= edge.thumbnail_src %>"
                 alt="<%= edge.edge_media_to_caption ? edge.edge_media_to_caption.edges[0] : [] %>">
          </div>

          <div class="likes-comments">
              <span style="cursor:pointer; color: rgb(249,5,5);" class="fa fa-heart"
                    onClick=getEndpointData("/instagram/likes?","post-likes","<%= edge.shortcode %>","post-likes")>
                <% if(edge.edge_media_preview_like){ %>
                  <% if(edge.edge_media_preview_like.count) { %><%= edge.edge_media_preview_like.count+' ' %>
                   <% } %>
                <% }else{ %>
                <%= edge.edge_liked_by.count+' ' %>
                <% } %>
              </span>
            <span style="cursor:pointer; color:#749f83;" class="fa fa-comment"
                  onClick=getEndpointData("/instagram/comments?","post-comments","<%= edge.shortcode %>","post-comments")>
              <% if(edge.edge_media_to_comment){ %>
              <%= edge.edge_media_to_comment.count+' ' %>
              <% } %>
            </span>

          </div>

          <% if(edge.owner.id === etlData.id) { %>

            <div class="row">

              <div class="col-6 align-self-center">
                <!--<a href="/edges/<%= edge.id %>/edit" class="btn btn-primary">Edit</a>-->
              </div>

              <!-- <div class="col-6 align-self-center">
                  <form method="POST" action="/edges/<%= edge.id %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>-->

            </div>

          <% } %>

        </div>
        <div class="card-header" style="max-height:100px; overflow-y: hidden;font-size:12px">
          <%= edge.edge_media_to_caption.edges[0] ? edge.edge_media_to_caption.edges[0].node.text : "" %>
        </div>


      </div>
    </div>

    <% } %>

  <% }) %>
  <% } %>

</div>
<div id="sparkline-data" style="display:none" sparkline-data="<%= engagementData.toString() %>"></div>
<div id="sparkline-likes-data" style="display:none" sparkline-data="<%= likesData.toString() %>"></div>
<div id="sparkline-comments-data" style="display:none" sparkline-data="<%= commentsData.toString() %>"></div>
