<% if(!(typeof etlData.places == 'undefined')){ console.log('we got data here...')%>
  <h1 style="color:black;">Places:</h1>
  <% etlData.places.forEach((edge) => { %>
    <% edge = edge.place %>
    <div class="row whiteBox ">
      <div class="col-sm-6 text-center align-self-center">
        <% if(!(typeof edge == 'undefined')){%>
          <% if(edge) { %>
            <div class="col-sm-6 text-center align-self-center">
              <h3 style="display:block;"><%= !(typeof edge.title == 'undefined') ? edge.title : "PLACE_NAME" %></h3>
              <div style="height:100px" id="<%=edge.location.lat.toString()+'_'+edge.location.lng.toString()%>" class="map">
              </div>
              <h4 style="min-width:10%">[<%= !(typeof edge.location.lng == 'undefined') ? edge.location.lng :0%> , <%= !(typeof edge.location.lat == 'undefined') ? edge.location.lat :0%>]</h4>
            </div>
          <% } %>


        <%}%>


      </div>

      <div class="col-sm-6 text-center align-self-center">

        <h3><%= !(typeof edge.location == 'undefined') ? edge.location.address : edge.slug %></h3>
        <h4><%= !(typeof edge.location == 'undefined') ? edge.location.city :"--NO CITY INFO!"%></h4>

      </div>

    </div>

  <% }) %>
<%}%>
<% if(!(typeof etlData.hashtags == 'undefined')){ console.log('we got data here...')%>
  <h1 style="color:black;">Hashtags:</h1>

  <% etlData.hashtags.forEach((edge) => { %>
    <% edge = edge.hashtag %>
    <div class="row whiteBox ">
      <div class="col-sm-6 text-center align-self-center">
        <% if(!(typeof edge == 'undefined')){%>
          <% if(edge) { %>
            <div class="col-sm-6 text-center align-self-center">

              <h3><%= !(typeof edge.name == 'undefined') ? '#'+edge.name : '#'+"HASHTAG" %></h3>
              </br>
              <h4><%= !(typeof edge.media_count == 'undefined') ? edge.media_count :0%></h4>
              </br>
              <h4><%= !(typeof edge.search_result_subtitle == 'undefined') ? edge.search_result_subtitle :0%></h4>
              </br>
              </br>

            </div>
          <% } %>


        <%}%>


      </div>

      <div class="col-sm-6 text-center align-self-center">

        <h3><%= !(typeof edge == 'undefined') ? edge.username : "username" %></h3>
        <h4><%= !(typeof edge == 'undefined') ? (edge.email || edge.full_name) :"user@maildomain"%></h4>

      </div>

    </div>

  <% }) %>
<%}%>
<% if(!(typeof etlData.users == 'undefined')){ console.log('we got data here...')%>
  <h1 style="color:black;">Users:</h1>
  <% etlData.users.forEach((edge) => { %>
    <% edge = edge.user %>
    <div class="row whiteBox ">

      <div class="col-sm-6 text-center align-self-center">
        <% if(!(typeof edge == 'undefined')){%>
          <% if(edge.profile_pic_url) { %>
            <img class="img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url:"" %>" alt="<%= edge ? etlData.username :"" %>">
          <% } else { %>
            <img class="img-thumbnail" src="<%= !(typeof edge == 'undefined') ? edge.profile_pic_url : "" %>" alt="<%= edge ? etlData.username : "" %>">
          <% } %>
        <%}%>


      </div>

      <div class="col-sm-6 text-center align-self-center">

        <h2><%= !(typeof edge == 'undefined') ? edge.username : "username" %></h2>
        <h4><%= !(typeof edge == 'undefined') ? (edge.email || edge.full_name) :"user@maildomain"%></h4>

      </div>

    </div>

  <% }) %>
<%}%>

