<div class="row">

  <% photos.forEach((photo) => { %>

    <div class="col-md-4  align-self-center">
      <div class="card">

        <div class="card-header">
          <%= photo.caption %>
        </div>

        <div class="card-body">
          <a href="/photos/<%= photo.id %>">
            <img class="img-fluid" src="<%= photo.imageSRC %>" alt="<%= photo.caption %>">
          </a>

          <p class="yellowStars">
            <% while(photo.stars--) { %> &starf; <% } %>
          </p>

          <% if(locals.isAuthenticated && photo.ownedBy(user)) { %>

            <div class="row">

              <div class="col-6 align-self-center">
                <a href="/photos/<%= photo.id %>/edit" class="btn btn-primary">Edit</a>
              </div>

              <div class="col-6 align-self-center">
                <form method="POST" action="/photos/<%= photo.id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>

            </div>

          <% } %>

        </div>
      </div>
    </div>

  <% }) %>

</div>
